{% extends 'base.html.twig' %}

{% block title  %}Modifier mdp {% endblock %}
{% block content %}
{#<div class="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier le mot de passe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ancien">
                </div>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Nouveau">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>#}

    <h1>Modifier mot de passe</h1>
    <a id="account_password" href="{{ path('account') }}">Retourner à mon compte</a>
    <hr>
    {% if notification %}
    <div class="popover">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}
    <hr>

{% endblock %}